{{- $pages := where (where .Site.RegularPages "Section" "publications") "Params.hidden" "!=" true }}
{{- $sortedPages := $pages.ByDate.Reverse }}
{{- $latestPublications := $sortedPages | first 5 }}
<div class="latest-publications">
<h2>Latest Publications</h2>

<ul class="">
    {{- range $latestPublications }}
    <li>
        {{ $currentPublication := . }}
        <a href="{{ .Permalink }}">{{ .Title }}</a> ({{ .Date.Format "2006" }})
        <p>
        {{ range $i, $author := .Params.authors }}
        {{ if lt $i 1 }}{{ $author }}{{ if lt $i (sub (len $currentPublication.Params.authors) 1) }}, {{ end }}{{ end }}
        {{ if eq $i 1 }}{{ $author }} et al.{{ end }}
        {{ end }}
        </p>
    </li>
    {{- end }}
</ul>

</div>